@mixin aboutmeShowMixin($colorBG) {
  border: 2px solid $colorBG;
  overflow: hidden;
  display: flex;

  align-content: center;
  justify-content: center;
  &:hover {
    border: 2px solid $color-blink-color;
  }
}

.aboutme_conteiner {
  width: $main-view-width;
  height: 100%;
  margin-bottom: 1rem;
  @include rwd;
}

.aboutme_main {
  box-sizing: border-box;
  width: $main-view-width;
  display: flex;
  justify-content: space-between;
  height: 20rem;

  @include rwd;
}

.aboutme_column {
  //background-color: darkgoldenrod;
  box-sizing: border-box;
  padding-left: 22rem;
  //border: 1px dotted darkgrey;
  width: 100%;
}
.aboutme_cars {
  //border: 1px dotted darkgrey;

  box-sizing: border-box;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  height: 20rem;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  @include sidebarstyle;
}
.aboutme_trips {
  width: 100%;
}
.aboutme_showCar {
  @include aboutmeShowMixin($color-background-main);
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 2rem;
  border-radius: 50%;
}
.aboutme_showTrip {
  @include aboutmeShowMixin($color-background-main);
  position: relative;
  box-sizing: border-box;
  width: calc(100% - 4rem);
  height: 25rem;
  margin: 2rem;
  border-radius: 1rem;
}
.aboutme_button {
  width: 100%;
  border: 0;
}
.aboutme_PhotoCar {
  //background-color: #b53a3a;
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;

}
.aboutme_PhotoTrip {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;

}
.aboutme_InfoTrip {
  z-index: 101;
  color: white;
  font-weight: 400;
  font-size: 2rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  //
  //transform: translate(-50%, -50%);
  //background-size: contain;
  //background-position: center;
  //background-repeat: no-repeat;


}
.aboutme_photoBox {
  //border: 1px dotted darkolivegreen;
  width: 20rem;
  height: 20rem;
  position: absolute;
  //border: 1px solid #ffcc00;

}
.perspectiveStyle {
  height: 100%;
  perspective: 300px;
  //border: 1px solid red;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, $color-background-main, rgba(40, 44, 52, 0.1),rgba(40, 44, 52, 0));
  }
}
.aboutme_photo {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}
.aboutme_photo_reflex {
  z-index: 2;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 90%;
  box-shadow: inset 0 0 20px $color-background-dropdown;

  opacity: 0.3;
  transform: scaleZ(-1) translate(-50%, -50%) rotateX(82deg);


}

