

.aboutme_conteiner {
  margin-top: 2rem;
  width: $main-view-width;
  height: 100%;
  margin-bottom: 1rem;
  @include rwd;
}

.aboutme_main {
  //position: absolute;
  box-sizing: border-box;
  width: 100%;
  //display: flex;
  //justify-content: space-between;
  //height: 20rem;

  @include rwd;
}
.aboutme_info {

    width: 100%;
    //border: 1px solid green;
    margin: 0;
    background-size: cover;
    //background-image: radial-gradient(circle at 50% 680%, $color-background-comment, $color-background-main 88%);
    display: flex;
}
.aboutme_column {
  box-sizing: border-box;
  padding-left: 1rem;
  width: 100%;


}
.aboutme_underHeader {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: start;
    //border: 1px solid red;


}
.aboutme_show-container {
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  @include sidebarstyle;
}

.aboutme_column_title {
  border-bottom: 1px dotted $color-txt-secondary;
  margin-bottom: 0.8rem;
  font-size: $tripInfo;
}

.aboutme_show {

  transition-duration: 0.3s;
  position: relative;
  width: 15rem;
  height: 30rem;
  margin: 1rem 2rem 1rem 0;
  border-radius: 1rem;
  &:hover {
    transition-duration: 0.4s;
    width: 60rem;
  }

  //border-radius: 50%;
}

.aboutme_button {
  width: 100%;
  border: 0;
}
.aboutme_PhotoCar {

  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;

}
.aboutme_PhotoTrip {
  //width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;

}
.aboutme_InfoTrip {

  z-index: 101;
  color: white;
  font-weight: 400;
  font-size: 2rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  //
  //transform: translate(-50%, -50%);
  //background-size: contain;
  //background-position: center;
  //background-repeat: no-repeat;


}
.aboutme_photoBox {
  //border: 1px dotted darkolivegreen;
  width: 20rem;
  //height: 30rem;
  //position: absolute;
  //border: 1px solid #ffcc00;

}
.perspectiveStyle {

  height: 6rem;

}
.aboutme_photo {
  width: 18rem;


}
.aboutme_photo_reflex {
  z-index: 2;
  object-fit: contain;
  width: 18rem;
  opacity: 0.5;
  transform:  translateY(-36%) scaleY(0.25) scaleX(-1)  rotateZ(180deg) ;
}







//.aboutme_showTrip {
//  @include aboutmeShowMixin($color-background-main);
//  position: relative;
//  box-sizing: border-box;
//  width: calc(100% - 4rem);
//  height: 25rem;
//  margin: 2rem;
//  border-radius: 1rem;
//}

//.aboutme_trips {
//  width: 100%;
//}