.headerStyle button {
  background-color: rgba(0,0,0,0) ;
  //color: $color-blink-color;

    border: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 3.2rem;
    padding: 0 1.2rem 0 1.2rem;
  margin-left: 0.8rem;

}


.showtrip_main button {
  box-sizing: border-box;
  background-color: rgba(0,0,0,0) ;
  //color: $color-background-main;
    //color: $color-txt-main;
  border: 0;
  border-radius: 0.5rem;
  width: 31%;
  height: 3rem;
  padding: 1rem;
  margin-left: 0.8rem;

  &:hover {
    //color: $color-background-main;
    //background-color: $color-background-yesornot;

  }
  &:disabled {
    //color: rgba(251, 251, 251, 0.30);
    //cursor: not-allowed;

    &:hover {
      //color: rgba(40, 44, 52, 0.49);
      //box-shadow: 0 0 0.8rem 0.2rem rgba(250, 237, 2, 0.15);
    }
  }
}

.main_button {
  background-color: rgba(0,0,0,0) ;
  color: $color-txt-main;
  border: 0;
  height: 3rem;
  padding: 1rem;
  margin-left: 0.8rem;
  width: 18rem;
  //&:hover {
  //  color: $color-background-main;
  //  background-color: $color-blink-color;
  //}
  //&:disabled {
  //  color: rgba(92, 93, 95, 0.49);
  //  cursor: not-allowed;
  //
  //  &:hover {
  //    color: rgba(40, 44, 52, 0.49);
  //    box-shadow: 0 0 0.8rem 0.2rem rgba(250, 237, 2, 0.15);
  //  }
  //}
}


.button-important {
  background-color: rgba(0,0,0,0) ;
  //color: $color-blink-color;
  border: 0;
  height: 3rem;
  padding: 1rem;
  margin-left: 0.8rem;
  width: 20rem;
  //&:hover {
  //  color: $color-background-main;
  //  background-color: $color-blink-color;
  //}
  //&:disabled {
  //  color: rgba(92, 93, 95, 0.49);
  //  cursor: not-allowed;
  //
  //  &:hover {
  //    color: rgba(40, 44, 52, 0.49);
  //    box-shadow: 0 0 0.8rem 0.2rem rgba(250, 237, 2, 0.15);
  //  }
  //}
}

.button_yesornot {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2px;
  height: 3rem;
  padding: 2rem;
  margin-left: 0.8rem;
  width: 18rem;
  font-size: $tripTitle;

}

.btnarrow {
  width: 80%;
  filter: invert(100%);


}