.colorstyle_main {

}

.colorstyle_dark {
  //background-color: $color-background-main;
  //color: $color-txt-main;
  background-color: olive;
  color: #282815;
}
.colorstyle_reflex_dark {
  //background: linear-gradient(-45deg, $color-background-main 40%, $color-background-reflex 50%, $color-background-main 60%);
  background: linear-gradient(-45deg, pink 40%, violet 50%, blue 60%);
}

.colorstyle_glow_dark {
  //background-image: radial-gradient(circle at 50% 680%, $color-background-comment, $color-background-main 88%);
  background-image: radial-gradient(circle at 50% 680%, red, orange);
}

//.colorstyle_shading_dark {
//  //background-image: radial-gradient(circle at 50% 680%, $color-background-comment, $color-background-main 88%);
//  background-image: radial-gradient(circle at 50% 680%, red, orange);
//}

.colorstyle_comment_dark {
  background-color: $color-background-main;
  color: $color-background-secondary;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

.colorstyle_button_dark button {
  //background-color: rgba(0,0,0,0) ;
  //color: $color-txt-main;
  background-color: rgba(0,0,0,0) ;
  color: red;
  &:hover {
    //color: $color-background-main;
    //background-color: $color-blink-color;
    color: red;
    background-color: black;
  }
  &:disabled {
    //color: rgba(92, 93, 95, 0.49);
    color: rgba(292, 193, 195, 0.49);
    cursor: not-allowed;

    &:hover {
      //color: rgba(40, 44, 52, 0.49);
      //box-shadow: 0 0 0.8rem 0.2rem rgba(250, 237, 2, 0.15);
      color: rgba(40, 44, 252, 0.49);
      box-shadow: 0 0 0.8rem 0.2rem rgba(50, 137, 2, 0.15);
    }
  }
}
