h4, p {
  font-family: "Segoe UI",  sans-serif;
}
h5 {
  font-size: 2.2rem;
  line-height: 3rem;
}
h4 {
  font-size: 3rem;
  line-height: 4rem;
}

h3 {
  font-size: 2.5rem;
  line-height: 3rem;
}


.fnt_subtitle {
  font-family: Abel;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.fnt_btn_header {
  font-family: "Segoe UI",  sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.fnt_Title {
  font-family: Abel;
  font-size: $tripTitle;
  line-height: calc($tripTitle * 1.1);
}
.fnt_error {
  margin-top: 1.5rem;
  font-family: Abel;
  margin-inline: auto;
  color: $color-error-color;
  font-size: $tripTitle;
  line-height: calc($tripTitle * 1.1);
  border: 1px solid $color-error-color;
  padding: 0.7rem 2rem ;
}
.fnt_tertiary {
  font-family: Abel;
  color: $color-txt-tertiary;
  font-size: $tripInfo;
  text-wrap: wrap;
  text-align: justify;
  line-height: calc($tripTitle * 1.05);
}