//.layout_container {
//  width: 100%;
//
//}
.layout_mainViewWidth {
  width: $main-view-width;
}

.layout_main {
  //width: $main-view-width;
  box-sizing: border-box;
  margin-inline: auto;
  overflow-x: hidden;
  //border: 1px solid deeppink;
}
.layout_flex-sb {
  //width: 100%;
  display: flex;
  justify-content: space-between;
  //border: 1px solid red;
  //@include rwd(flex);
  //border: 1px solid blueviolet;
}

.layout_flex-sc {
  display: flex;
  justify-content: center;
  //border: 1px solid blue;
  @include rwd(flex);
}

.layout_flex-sb-directColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}