//.layout_container {
//  width: 100%;
//
//}
.layout_mainViewWidth {
  width: $main-view-width;
}

.layout_main {
  @media screen and (min-width: 951px) {
    @include sidebarstyle;
  }
  //width: $main-view-width;
  min-height: 100%;
  box-sizing: border-box;
  margin-inline: auto;
  overflow-x: hidden;
  //border: 1px solid deeppink;
}
.layout_flex {
  //width: 100%;
  display: flex;
  //border: 1px solid red;
  //@include rwd(flex);
  //border: 1px solid blueviolet;
}
.layout_flex-sb {
  //width: 100%;
  display: flex;
  justify-content: space-between;

}
.layout_flex-sb_mobile_Column {
  //width: 100%;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 950px) {
    flex-direction: column;
    justify-content: space-around;
  }
}

.layout_flex-sc {
  display: flex;
  justify-content: center;
  //border: 1px solid blue;
  @include rwd(flex);
}

.layout_flex-sb-directColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.layout_grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
}
.layout_grid3 {
  background-color: $color-background-main;
  border: 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 950px) {
    width: 100%;
    height: 100%;
    align-items: center;
    grid-template-columns: 1fr;
  }

  p {
    //display: inline-block;
    color: $color-background-secondary;
    padding: 1rem;
    border-left: $color-background-secondary;
  }
  button {
    color: black;
    border: 0;
  }
}

.layout_gridAuto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(130px,100%), 1fr));
  gap: 5px;

  @media (max-width: 950px) {
    grid-template-columns: 1fr;
  }
}