@mixin rwd($displayStyle:block) {
  @media screen and (max-width: 950px) {
    //@content
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: $displayStyle
  }
}

@mixin rwd_form($displayStyle:block) {
  @media screen and (max-width: 950px) {
    //@content
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0.1rem;
    display: $displayStyle
  }
}
@mixin rwd_width() {
  @media screen and (max-width: 950px) {
    width: 100%;
  }
  }

//@mixin rwdBlock {
//  @media screen and (max-width: 950px) {
//    //@content
//    display: block;
//
//  }
//}