@mixin rwd($displayStyle:block) {
  @media screen and (max-width: 950px) {
    //@content
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: $displayStyle
  }
}

//@mixin rwdBlock {
//  @media screen and (max-width: 950px) {
//    //@content
//    display: block;
//
//  }
//}