.tripInfo_mainpage_container {
  position: absolute;
  left: 0px;
  top: 0px;

}

.tripInfo_mainpage_box {
  box-sizing: border-box;
  position: absolute;
  padding: 1rem;
  z-index: 9;
  font-family: "Century Gothic";
  @media screen and (min-width: 951px) {
    left: 0px;
    top: 0px;
    width: 200px;
    height: 100%;
    text-align: left;
  }

  @media screen and (max-width: 950px) {
    left: 0px;
    bottom: 0rem;
    width: 100%;
    max-height: 11rem;
    text-align: left;
    div:last-child {
      width: 33%;
      border-left: 1px dotted rgba(255, 255, 255, 0.67);
      padding-left: 1rem;
    }
  }
}
.tripInfo_mainpage_title {
  @include tripInfo_mainpage($tripTitle);
  text-align: left;

  padding-bottom: 0.3rem;
  margin-bottom: 0.6rem;
}

.tripInfo_mainpage_author {
  @include tripInfo_mainpage($tripAuthor)
}
.tripInfo_mainpage_Info-tripRate {
  @include tripInfo_mainpage(16px);
}
.tripInfo_mainpage_Info-tripComm {
  @include tripInfo_mainpage(14px);
}
.tripInfo_mainpage_Info-country {
  @include tripInfo_mainpage($tripAuthor)
}
.tripInfo_mainpage_Info-tripType {
  @include tripInfo_mainpage($tripAuthor)
}