.userPanel_main {
  box-sizing: border-box;
  padding: 5px;
  display: block;
  width: $main-view-width;
  background-color: $color-background-secondary;
  color: $color-background-main;
  font-family: Abel;
  @include rwd(flex);

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.userPanel_mainpage_box {
  box-sizing: border-box;
  width: 100%;
  min-height: 7rem;
  height: auto;
  padding: 1rem;

  font-size: 30px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
}

.userPanel_mainpage_title {
  font-size: $tripTitle;
}
.userPanel_mainpage_content {
  margin-top: 0.5rem;
  font-size: $txtNormal;
  line-height: calc($txtNormal + 0.5rem);
}
.userPanelItem {
    width: 100%;
    //font-size: 15px;
    border: 2px solid $color-background-secondary;
    margin-bottom: 5px;
    &:hover {
      transition-duration: 0.2s;
      z-index: 90;
      border: 2px solid $color-background-main;
    }
}
.userPanel_trips {
  display: flex;
}
.userPanel_cars {

}

.userPanel_userPhoto {

  width: 7rem;
  margin-right: 1rem;

}