.userPanel_main {
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  display: block;
  //width: $main-view-width;
  width: 100%;
  height: max-content;


  font-family: Abel;
  //@include rwd(flex);
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);



}

.userPanel_bgphoto {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.1;
  width: 100%;
  z-index: -10;
}

.userPanel_mainpage_box {
  box-sizing: border-box;
  width: 100%;
  min-height: 7rem;
  height: auto;
  padding: 1rem;

  font-size: 30px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
}

.userPanel_mainpage_title {
  font-size: $tripTitle;
}
.userPanel_mainpage_content {
  margin-top: 0.5rem;
  font-size: $txtNormal;
  line-height: calc($txtNormal + 0.5rem);
}
.userPanelItem {
  flex: 1 0 20rem;
  //background-color: $color-background-main;
  overflow: hidden;
  border-radius: 1.5rem;
  margin: 0.3rem;

    &:hover {
      transition-duration: 0.2s;
      z-index: 90;

    }
}
.userPanel_trips {

  display: flex;
  flex-wrap: wrap;
}
.userPanel_cars {
  flex-wrap: wrap;
}

.userPanel_userPhoto {

  width: 7rem;
  margin-right: 1rem;

}

.userPanel_itemPhoto {


}

.userPanel-buttons {
    color: $color-background-secondary;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 3rem;
    padding: 1rem;
    font-family: Abel;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 50;
  p {
    width: 33%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  button {
    margin: 0;
    padding: 0;
    border-radius: 1rem 1rem 0 0;

    width: 33%;

    height: 3rem;
    font-size: $txtNormal;
    border: 0;
    &:hover {

    }
    &:disabled {
      color: rgba(92, 93, 95, 0.49);
      cursor: not-allowed;

      &:hover {
        color: rgba(40, 44, 52, 0.49);
        box-shadow: 0 0 0.8rem 0.2rem rgba(250, 237, 2, 0.15);
      }
    }
  }
}