$viewHeight: calc(var(--vh, 1vh) * 100);
$header-height: 5rem;

$mobile_header-height: 5rem;

$footer-height: 2.5rem;
$main-view-width: 90rem;
//$main-view-height: calc($viewHeight - ($header-height + $footer-height));

//@media screen and (max-width: 950px) {
//  $header-height: 9rem;
//  $footer-height: 5rem;
//}
$main-view-height: calc($viewHeight - ($header-height + $footer-height));
$mobile_main-view-height: calc($viewHeight - ($mobile_header-height + $footer-height));

$tripTitle: 2rem;
$tripAuthor: 1.8rem;
$tripInfo: 1.6rem;
$txtNormal: 1.6rem;
$txtLarge: 1.8rem;

$fontStyleMain: Abel;


$color-background-main: #282c34;
$color-background-reflex: rgba(204, 204, 204, 0.3);
$color-background-dropdown: rgba(40, 44, 52, 0.65);
$color-background-userProfile: rgba(15, 15, 16, 0.5);
$color-background-secondary: #d1d5e1;
$color-background-comment: rgba(253, 253, 253, 0.9);
$color-background-yesornot: rgba(250, 237, 2, 0.75);
$color-background-photobutton: rgba(0, 0, 0, 0);
$color-background-photobutton_hover: rgba(0, 0, 0, 0.3);

$color-blink-color: #faed02;
$color-error-color: #ff4c00;

$color-txt-main: rgba(255, 255, 255, 0.93);
$color-txt-secondary:rgba(255, 255, 255, 0.83);
$color-txt-tertiary: rgba(204, 204, 204, 0.68);


$shadow-comment: .5rem .5rem 1rem rgba(0,0,0,0.2);

// light mode;
$light-background-main: #efefef;
$light-background-reflex: rgba(255, 255, 255, 0.9);
$light-background-dropdown: rgba(40, 44, 52, 0.65);
$light-background-userProfile: rgba(15, 15, 16, 0.5);
$light-background-secondary: #d1d5e1;
$light-background-comment: #b3b3b3;
$light-background-yesornot: rgba(2, 73, 123, 0.75);
$light-background-photobutton: rgba(0, 0, 0, 0);
$light-background-photobutton_hover: rgba(0, 0, 0, 0.3);

$light-blink-color: #02497b;
$light-error-color: #ff4c00;

$light-txt-main: rgba(32, 32, 32, 0.93);
$light-txt-secondary:rgba(32, 32, 32, 0.83);
$light-txt-tertiary: rgba(32, 32, 32, 0.68);


