$header-height: 5rem;
$footer-height: 2.5rem;
$main-view-width: 90rem;

$tripTitle: 2rem;
$tripAuthor: 1.4rem;
$tripInfo: 1rem;

$color-background-main: #282c34;
$color-background-secondary: #d1d5e1;

$color-blink-color: #faed02;

$color-txt-main: rgba(255, 255, 255, 0.93);
$color-txt-secondary:rgba(255, 255, 255, 0.83);