@import "reset";

@import "rwd";

:root {
  font-size: 10px;
}
body {
  position: relative;
  height: 100vh;
  margin: 0;
}
.yesOrNot {
  background-color: rgba(248, 248, 2, 0.7);
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
// ----------------------------------------co poniżej jest ROBOCZE - do usunięcia ----



.underConstruction {
  box-sizing: border-box;
  border: 2px dashed yellow;
  display: flex;
  justify-content: space-between;

  background-color: #282c34;
  font-size: 1.6rem;
  font-family: "BankGothic Lt BT";
  color: #a2a200;
  padding: 5px;
}
.underConstruction-height {
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: #282c34;
}
input {
  border: 0;
}
.testDataImport {
  font-size: 9px;
  color:darkgrey;
}
.dataImportLine {
  width: 100%;
  font-size: 15px;
  border-bottom: 1px solid #535353;
  margin-bottom: 5px;
  &:hover {
    background-color: rgba(30, 144, 255, 0.35);
  }
}
.testForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.testForm > * {
  border: 1px solid gray;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.ramka {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(255, 183, 0, 0.74);
  box-shadow: 0 0 0 2px rgba(255, 183, 0, 0.14);
  padding: 3px;
  margin: 10px 0 10px 0
}
