@import "reset";
:root {
  font-size: 10px;
}

@import "variables";
@import "mixins";

@import "ico";
@import "fonts";
@import "rwd";
@import "buttons";

@import "colors-light";
@import "colors-dark";
@import "layout";

@import "header";
@import "userPanel";
@import "showCar";
@import "tripInfo";
@import "aboutMe";
@import "comments";
@import "login";
@import "formStyle";





body {
  position: relative;
  box-sizing: border-box;
  //height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  overflow-y: hidden;

}
.app {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.showTrips {
  width: 100%;
  max-height: 100%;
  padding: 1rem 0;
}
.footerStyle {

  font-size: 1.6rem;
  font-family: "BankGothic Lt BT";
  padding: 5px;
  height: $footer-height;
  width: $main-view-width;
  //@include mainStyle($footer-height);
}
.footerWindowStyle {
  box-sizing: border-box;
  //@include mainStyle($footer-height);

  width: calc( 100vw - 10px);
  margin-left: 10px;
  //overflow-y: scroll;
  @include rwd();

  @media screen and (max-width: 950px) {
    height: $footer-height;
  }

  @include sidebarstyle;
}
.mainWindowStyle {
  box-sizing: border-box;
  @include mainStyle($main-view-height);

  //width: calc( 100vw - 10px);
  width: $main-view-width;
  margin-left: 10px;
  overflow-y: scroll;
  @include rwd();

  height: $main-view-height;

  @media screen and (max-width: 950px) {
    height: $mobile_main-view-height;
  }

  @include sidebarstyle;
  padding-bottom: 0.5rem;
}

.mainViewStyle {



  //background-color: #282c34;


}

.yesOrNot {
  z-index: 200;
  background-color: $color-background-yesornot;
  border: 2px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imageBox {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  width: 100%;
  height: 70svh;
  position: relative;
  //border: 2px solid red;
  overflow: hidden;
}

.imageBox_btn_L {
@include imageBox_btn();
  left: 0;
}
.imageBox_btn_R {
  @include imageBox_btn();
  right: 0;
}
.photoStyle {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  z-index: 1;

}

.btn_tripBox {
  border: 0;
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
}

.clickPage {
  border: 0;
  overflow: hidden;
  width: 100%;
  height: 35rem;

  border-radius: 1.5rem;
  margin-bottom: 2rem;
  position: relative;
  &:hover {
    z-index: 2;

    //&:after {
    //  content: "";
    //
    //  background-color: rgba(255, 255, 255, 0.15);
    //  width: 100%;
    //  height: 100%;
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  z-index: 25;
    //}


  }

}
.symbol_loading_m {
  z-index: 1500;
  width: 2rem;
  height: 2rem;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  border-left: 5px solid $color-blink-color;
  border-right: 5px solid $color-blink-color;
  box-shadow: 0 0 0.4rem rgba(0,0,0,0.5);
  border-bottom: 0;
  border-top: 0;
  animation: obrot 2s linear infinite;
}

.symbol_loading {
  z-index: 1500;
  width: 4rem;
  height: 4rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  border-left: 5px solid $color-blink-color;
  border-right: 5px solid $color-blink-color;
  box-shadow: 0 0 0.4rem rgba(0,0,0,0.5);
  border-bottom: 0;
  border-top: 0;
  animation: obrot 2s linear infinite;
}
@keyframes obrot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

//-----------------show trip
.showtrip_photoStyle {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
.showtrip_header {
  border-top: 2px ridge $color-background-reflex;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7rem;
  //background-color: $color-background-secondary;
  padding: 1rem;
  font-family: Abel;
  font-size: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.showtrip_main {

  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  //background-color: $color-background-secondary;
  padding: 1rem;
  font-family: Abel;
  font-size: 20px;
  //box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 50;
}
.showtrip_description {

  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: justify;

  //background-color: $color-background-secondary;
  background-color: rgba(0,0,0,0);
  padding: 1rem;
  font-family: Abel;
  font-size: 20px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
  @include rwd;
}
.showtrip_addComment {

  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: left;


  padding: 1rem;
  font-family: Abel;
  font-size: 20px;

  @include rwd;
}

.showtrip_footer {

  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 7rem;
  //background-color: $color-background-secondary;
  padding: 1rem;
  font-family: Abel;
  font-size: 20px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

.trips_container {
  width: 100%;
}


// ----------------------------------------co poniżej jest ROBOCZE - do usunięcia ----




.tymczasowy_header {
  font-size: 1.6rem;
  font-family: "BankGothic Lt BT";
  color: #1da072;
  @media screen and (max-width: 950px) {
    //@content
    //background-color: #283535;
    //max-width: 100%;
    margin: 0;
    //display: block;
    //height: auto;
    padding-top: 1rem;
  }
}

.underConstruction {
  //box-sizing: border-box;
  ////border: 2px dashed #ffa600;
  //display: flex;
  ////justify-content: space-between;
  //
  //
  //font-size: 1.6rem;
  //font-family: "BankGothic Lt BT";
  //color: #1da072;
  //padding: 5px;
  //height: 100%;
}
.underConstruction-height {
  //height: 100%;
}


input {
  border: 0;
}
.testDataImport {
  font-size: 9px;
  //color: rgba(169, 169, 169, 0.26);

}
.dataImportLine {
  width: 100%;
  font-size: 15px;
  border-bottom: 1px solid #b53a3a;
  margin-bottom: 5px;
  &:hover {
    z-index: 10;
    background-color: rgba(30, 144, 255, 0.05);
  }
}
.testForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.testForm > * {
  border: 1px solid #ef0000;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.ramka {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(31, 232, 0, 0.74);
  box-shadow: 0 0 0 2px rgba(255, 183, 0, 0.14);
  padding: 3px;
  margin: 10px 0 10px 0
}

$stripe-width: 10px;
$stripe-color1: $color-background-main;
$stripe-color2: rgba(255, 255, 0, 0.8);

.footer_underconstruction {
  background: repeating-linear-gradient(
                  45deg,
                  $stripe-color1,
                  $stripe-color1 $stripe-width,
                  $stripe-color2 $stripe-width,
                  $stripe-color2 $stripe-width * 2
  );
}

.userPanel_first {

  box-sizing: border-box;
  width: 15rem;
  height: 15rem;

  padding: 2rem;
  margin: 2rem;

  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 50%;

  box-shadow: 1rem 1rem 1rem $color-background-userProfile;


  p {

    font-size: $tripTitle;
    font-weight: 600;
    margin-inline: auto;
    text-align: center;
    transition-duration: 0.1s;
    transform: rotate(0deg);
    &:hover {
      transition-duration: 0.3s;
      transform: rotate(-30deg);
    }
  }

}